<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="col-sm-10 offset-sm-1">
            <div style="text-align:center"><p><strong>2018/05/05 ~ 2018/05/06</strong></p>
            <p>LionBlock 개발</p>
            <p>오픈 소스 광고 차단 필터 개발</p></div>
            
        </div>
    </div>
</div>