<div class="container">
    <div class="introst">
        <br><br>
        </div>
        <div>
        <div class="row">
            <div class="col-3">
             <img src="/assets/lion11.png", style='height:14vw;width:14vw;' >
             </div>
            <div class="col-3">
             <img src="/assets/lion22.png", style='height:14vw;width:14vw;' >
             </div>
            <div class="col-3">
             <img src="/assets/lion33.png", style='height:14vw;width:14vw;' >
             </div>
            <div class="col-3">
             <img src="/assets/lion44.png", style='height:14vw;width:14vw;' >
             </div>
            </div>
</div>
<div class="container">
        <div class="row">
        <div class="col-sm-3">
          <br>
          <strong>이상은</strong><br>
          <hr>
          강원대학교 4학년<br>
          멋쟁이 사자를 꿈꾸는<br>
          베이비 라이언!<br>
          '광고 사냥' 가능합니다.<br>
        </div>
        <div class="col-sm-3">
          <br>
          <strong>한민지</strong><br>
          <hr>
          국민대학교 2학년<br>
          ruby와 html/css 학습 단계<br>
          광고는 싫어!<br>
          코딩은 조금 좋아...<br>
        </div>
        <div class="col-sm-3">
          <br>
          <strong>함석원</strong><br>
          <hr>
          한국외국어대학교 1학년<br>
          Python-Django 학습 단계<br>
          광고는 정신건강에 해롭습니다.<br>
          <br>
        </div>
        <div class="col-sm-3">
          <br>
          <strong>김수빈</strong><br>
          <hr>
          남서울대학교 1학년<br>
          ruby, html/css, 머신러닝 학습 단계<br>
          광고 차단, 더 나은 사회를 만듭니다.<br>
          <br>
        </div>
      </div>
        </div>
</div>